In [33]:
import pandas as pd
from sklearn import svm
from sklearn.model_selection import train_test_split
from sklearn import metrics
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing

In [34]:
data=pd.read_csv('data.txt',sep=" ", header=None)
data.head(5)

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,1,6,4,12,5,5,3,4,1,67,...,0,0,1,0,0,1,0,0,1,1
1,2,48,2,60,1,3,2,2,1,22,...,0,0,1,0,0,1,0,0,1,2
2,4,12,4,21,1,4,3,3,1,49,...,0,0,1,0,0,1,0,1,0,1
3,1,42,2,79,1,4,3,4,2,45,...,0,0,0,0,0,0,0,0,1,1
4,1,24,3,49,1,3,3,4,4,53,...,1,0,1,0,0,0,0,0,1,2

## Scores Function That Return scores of Ten trials

In [35]:
def scores(X,y):
    Score=[]
    for i in range(10):
        X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4)
        classifier = svm.SVC(kernel='linear', C=1)
        classifier.fit(X_train, y_train)
        y_pred = classifier.predict(X_test)
        Score.append(metrics.accuracy_score(y_test, y_pred)*100)    

    return Score

## Problem One Part One

In [36]:
col=data.shape[1]
X=data.iloc[:,:col-1]
y=data.iloc[:,col-1:col]

In [37]:
scores(X,y)

[78.75, 74.375, 73.75, 75.625, 74.375, 74.375, 74.6875, 78.75, 75.625, 73.4375]

## Problem One Part Two

### Scale Data

# Rule For Normalization Between -1 and 1

## Sigmoidal normalization
> It transforms the input data nonlinearly into the range -1 to 1, using a sigmoid function. 


## $X_{i}=\frac{1-e^{-a}}{1+e^{-a}}$

Where 

$a=\frac{X_{i}-X_{mean}}{X_{std}}$

In [38]:
import math
data_scaled=pd.DataFrame()

for column in data:
   # Select column contents by column name using [] operator
   a =(data[column]-data[column].mean())/data[column].std()
   data_scaled[column]=(1-np.exp(-a))/(1+np.exp(-a))
data_scaled.head()

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,-0.562898,-0.538909,0.584651,-0.348669,0.727249,0.583272,0.228812,0.480361,-0.567458,0.880322,...,-0.266504,-0.166162,0.155864,-0.098312,-0.22616,0.307166,-0.073495,-0.245689,0.366147,-0.315056
1,-0.230291,0.809258,-0.247135,0.472669,-0.338857,-0.164055,-0.447078,-0.362730,-0.567458,-0.525848,...,-0.266504,-0.166162,0.155864,-0.098312,-0.22616,0.307166,-0.073495,-0.245689,0.366147,0.644342
2,0.515830,-0.341538,0.584651,-0.196808,-0.338857,0.245792,0.228812,0.071591,-0.567458,0.531736,...,-0.266504,-0.166162,0.155864,-0.098312,-0.22616,0.307166,-0.073495,0.759693,-0.571862,-0.315056
3,-0.562898,0.705461,-0.247135,0.696679,-0.338857,0.245792,0.228812,0.480361,-0.170881,0.395412,...,-0.266504,-0.166162,-0.919981,-0.098312,-0.22616,-0.656497,-0.073495,-0.245689,0.366147,-0.315056
4,-0.562898,0.136872,0.205598,0.302641,-0.338857,-0.164055,0.228812,0.480361,0.646818,0.645138,...,0.723181,-0.166162,0.155864,-0.098312,-0.22616,-0.656497,-0.073495,-0.245689,0.366147,0.644342

#### Use LabelEncoder tO Transform the Labels to 0 and 1

In [39]:

X2=data_scaled.iloc[:,:col-1]
y2=data_scaled.iloc[:,col-1:col]
lab_enc = preprocessing.LabelEncoder()
encoded = lab_enc.fit_transform(y2)

In [40]:
print('Score of Model with non Scaled data\n\n',scores(X,y))
print('\nScore of Model with Scaled data\n\n',scores(X2,pd.DataFrame(encoded)))

Score of Model with non Scaled data

 [75.625, 77.5, 78.75, 75.3125, 77.1875, 75.625, 73.4375, 75.625, 73.75, 78.125]

Score of Model with Scaled data

 [77.1875, 76.25, 76.5625, 76.25, 73.75, 76.5625, 71.25, 73.4375, 71.5625, 73.125]

### **Through Ten trials with Scaled and non-Scaled Data , Most of trials had higher score in scaled data than non scaled data. But because of data don't differ a lot  in range of attributes so difference in score was small  **

> #### *Scaling Features with SVM is very important because it is avoiding attributes in greater numeric ranges dominating those in smaller numeric ranges.*